<p><a href="https://www.abc.net.au/rage" target="_blank">Rage</a> is a popular all-night Australian music video
  program broadcast on ABC1 on Friday nights, Saturday mornings and Saturday nights. It was first screened on the
  weekend of Friday, 17 April 1987.</p>
<p>Since 1998 rage has posted all their episode playlists online. This website combines these playlists with
  YouTube allowing you to travel back through time and re-experience rage's recent history.</p>
<p><em>Please note: all the matching of track to video is done programmatically so some videos, particularly older
    ones may not be available (depending on whether someone has uploaded them).</em></p>
<br>
<p><strong>Keyboard Shortcuts:</strong> play/pause <span class="label">spacebar</span>, prev <span
    class="label"><i class="icon-arrow-left" style="background:none"></i></span>, next <span class="label"><i
      class="icon-arrow-right" style="background:none"></i></span></p>
<br>
<p>
  <strong>Playlists:</strong> {{ playlist_count|number_format }}<br>
  <strong>Tracks:</strong> {{ track_count|number_format }}<br>
  <strong>Approx. Play Time:</strong> {{ est_play_time }}<br><br>
  <a href="https://www.pjgalbraith.com/2012/08/rageagain/" target="_blank">View blog post</a>
</p>
<br>
<div style="float:left;">
  <span class='st_sharethis_large' displayText='ShareThis'></span>
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_twitter_large' displayText='Tweet'></span>
  <span class='st_pinterest_large' displayText='Pinterest'></span>
  <span class='st_linkedin_large' displayText='LinkedIn'></span>
  <span class='st_email_large' displayText='Email'></span>
</div>
<div style="float:right; text-align: right">
  <a href="http://www.pjgalbraith.com" target="_blank"><img src="static/img/sig.png" title="Created by Patrick Galbraith"
      alt="Created by Patrick Galbraith" /></a><br>
  <span style="font-size:10px; margin-right: 5px"><a href="http://www.pjgalbraith.com">VIEW MY OTHER
      WORKS</a></span>
</div>