<div id="episodes">
  {% for playlist_info in playlists %}
    <div class="clearfix"></div>

    <a name="episode-{{ playlist_info.year }}"></a>
    <h2><span>{{ playlist_info.year }}</span></h2>

    {% for playlist in playlist_info.playlist %}
      <p>
        <a href="#/episode/{{ playlist.id }}/1" class="playlist" data-playlist_id="{{ playlist.id }}"
          {% if playlist.special.is_some() %}
            rel="tooltip" title="{{ playlist.special.clone().unwrap_or_default() }}" data-placement="top"
          {% endif %}
        >
          <span style="color:#BBB; font-family:monospace;">{{ playlist.date|date_format("D") }}</span>
          {{ playlist.date|date_format("jS F") }}

          {% if playlist.special.is_some() %}
            <span class="label label-info">s</span>
          {% endif %}
        </a>
      </p>
    {% endfor %}
  {% endfor %}
</div>